body {
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  box-sizing: border-box;
  font: 16px/1.25 arial, sans-serif;
}

small {
  font-size: 0.75rem;
}

p {
  margin: 0;
  font-size: 0.875rem;
}

figure {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  margin: -180px 0 0 -320px;
}

figcaption {
  margin: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 640px;
  height: 360px;
  line-height: 0;
  display: block;
  list-style: none;
  white-space: nowrap;
  counter-reset: slide;
}

li {
  display: inline-block;
  counter-increment: slide;
}

li,
img {
  height: 100%;
}

img {
  width: auto;
  display: block;
}

a {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}

a::before {
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px 11px 0 0;
  color: rgba(255, 255, 255, 0.4);
  font: bold 15px/1 arial, sans-serif;
  content: counter(slide, decimal-leading-zero);
}

.is-active {
  display: block;
}

